.header {
    background: url('../images/bg-header-mobile.png') no-repeat;
    background-size: contain;

    @include breakpoint-up(medium) {
        background: url('../images/bg-header-desktop.png') no-repeat;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
    }

    &__content {
        padding: 7.5rem 0 3rem;
    }

    &__text {
        text-align: center;
        margin: auto;
        width: auto;

        @include breakpoint-up(medium) {
            width: 41.25rem;
        }

        h1 {
            font-size: 2rem;
            padding: 0 1.25rem;

            @include breakpoint-up(medium) {
                font-size: 2.5rem;
                padding: 0;
            }
        }

        p {
            font-size: 1rem;
            padding: 0 1.5625rem;

            @include breakpoint-up(medium) {
                font-size: 1.125rem;
                padding: 0;
            }
        }
    }
}